.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  gap: 50px;
  font-family: var(--font-mono);
}

.button {
  border: 1px solid rgb(var(--dark-red));
  padding: 5px 65px;
  border-radius: 5px;
  background-color: var(--light-gray);
}

.inputField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

